In [ ]:
import pandas as pd

data_input = {'Area':['North', 'North', 'North',  'South', 'South', 'South',  'West', 'West', 'West',   'East', "East","East"], 
              "Sub-Area": ["North2", "North1", "North2",   "South2", "South1", "South2","West3", "West9", "West9", "East1", "East4", "East1"], 
              "Workers": [1,20,30, 2,33,5, 3,6,44, 1, 11, 111], 
              "Job1":["T", "T", "T",  "X","T", "T",  "T", "X", "T", "X","T", "T"],
              "Job2":["F", "X", "T",  "X","T", "F",  "T", "X", "F", "X","T", "T"],
              "Job3":["T", "F", "T",  "X","X", "F",  "F", "T","X",  "X","T", "T"]}
 
# Create DataFrame
df1 = pd.DataFrame(data_input)
 
# Print the output.
#df1

In [ ]:
df1

In [ ]:
from io import BytesIO
from tempfile import NamedTemporaryFile

import boto3
import pandas as pd
from openpyxl import load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows

# Load Template from S3
bucket_name="main_folder"
object_key="sub_folder/template.xlsx"
bucket_object = boto3.resource('s3').Bucket(bucket_name).Object(object_key)
content = bucket_object.get()['Body'].read()

# Input Data
data_input = {
    'Area': ['North', 'North', 'North', 'South', 'South', 'South', 'West', 'West', 'West', 'East', "East", "East"],
    "Sub-Area": ["North2", "North1", "North2", "South2", "South1", "South2", "West3", "West9", "West9", "East1",
                 "East4", "East1"],
    "Workers": [1, 20, 30, 2, 33, 5, 3, 6, 44, 1, 11, 111],
    "Job1": ["T", "T", "T", "X", "T", "T", "T", "X", "T", "X", "T", "T"],
    "Job2": ["F", "X", "T", "X", "T", "F", "T", "X", "F", "X", "T", "T"],
    "Job3": ["T", "F", "T", "X", "X", "F", "F", "T", "X", "X", "T", "T"]}
# Create DataFrame
df = pd.DataFrame(data_input)

# Load Workbook
wb = load_workbook(filename=(BytesIO(content)))
ws = wb['Sheet1']

# Change contents
ws["A2"] = df1["Area"][0]
ws["A3"] = df1["Area"][1]
ws["A4"] = df1["Area"][2]
ws["A5"] = df1["Area"][3]
...

# Save Workbook back to S3
s3 = boto3.client('s3')
with NamedTemporaryFile() as tmp:
    filename = '/tmp/{}'.format("template.xlsx")
    wb.save(filename)
    s3.upload_file(Bucket =bucket_name, Filename = "template.xlsx", Key=object_key)

In [ ]:
df1["Area"][0]

In [ ]:
s3.upload_file(

In [ ]:
def upload_file(file_name, bucket, object_name=None):
    """Upload a file to an S3 bucket

    :param file_name: File to upload
    :param bucket: Bucket to upload to
    :param object_name: S3 object name. If not specified then file_name is used
    :return: True if file was uploaded, else False
    """

    # If S3 object_name was not specified, use file_name
    if object_name is None:
        object_name = os.path.basename(file_name)

    # Upload the file
    s3_client = boto3.client('s3')
    try:
        response = s3_client.upload_file(file_name, bucket, object_name)
    except ClientError as e:
        logging.error(e)
        return False
    return True

In [ ]:
#upload_file("template.xlsx", "alpha-piatool")

In [ ]:
# Save file to S3
with io.BytesIO() as output:
    with pd.ExcelWriter(output, engine='openpyxl') as writer:
        template.to_excel(writer, sheet_name='Sheet1')
    data = output.getvalue()
s3 = boto3.resource('s3')
s3.Bucket('main_folder').put_object(Key='sub_folder/template.xlsx', Body=data)

In [ ]:
#template to use
template = pd.read_excel('s3://alpha-piatool/harmonisation/template.xlsx', sheet_name="Sheet1")
template = template.append(df1)

In [ ]:
# Save file to S3
with io.BytesIO() as output:
    with pd.ExcelWriter(output, engine='openpyxl') as writer:
        template.to_excel(writer, sheet_name='Sheet1')
    data = output.getvalue()
s3 = boto3.resource('s3')
s3.Bucket('alpha-piatool').put_object(Key='harmonisation/template.xlsx', Body=data)

In [ ]:
# import pandas as pd

# data_input = {'Area':['North', 'North', 'North',  'South', 'South', 'South',  'West', 'West', 'West',   'East', "East","East"], 
#               "Sub-Area": ["North1", "North2", "North2",   "South1", "South2", "South2","West3", "West9", "West9", "East4", "East11", "East11"], 
#               "Workers": [20,1,30,  33,2,5, 3,6,44,  11, 1, 111], 
#               "Job1":["T", "T", "T",  "X","T", "T",  "T", "X", "T", "X","T", "T"],
#               "Job2":["F", "X", "T",  "X","T", "F",  "T", "X", "F", "X","T", "T"],
#               "Job3":["T", "F", "T",  "X","X", "F",  "F", "T","X",  "X","T", "T"]}
 
# # Create DataFrame
# df1 = pd.DataFrame(data_input)
 
# # Print the output.
# df1

In [ ]:
df1.sort_values(by = ['Sub-Area', 'Workers'], ascending = [True, True], na_position = 'first')

In [ ]:
data_input2 = {'Student':     ['A',   "A",     'B',       'C',      'D',      'E',      'F',    'G',     "H"], 
              "Subject": ["Law",   "Law",   "Maths",    "Maths", "Law",    "Maths",  "Music", "Music", "Art"], 
              "Checked":  ["James",  "Bob",  "Jack",     "Laura", "Laura",  np.nan,   "Tim",   "Tim",   "Tim"]}
 
# Create DataFrame
df2 = pd.DataFrame(data_input2)
 
# Print the output.
#df2

In [ ]:
import pandas as pd
import numpy as np

data_input = {'Student':     ['A', 'A',          'B', 'B',            'C',      'D',      'E',      'F', 'F',         'G',     "H",     "H"], 
              "Subject": ["Law", "Law",      "Maths", "Maths",    "Maths", "Law",    "Maths",  "Music", "Music", "Music", "Art", "Art"], 
              "Checked":  ["Bob", "James",    np.nan,  np.nan,     "Laura", "Laura",  np.nan,    np.nan, "Tim",   "Tim",   "Tim", np.nan]}
 
# Create DataFrame
df1 = pd.DataFrame(data_input)
 
# Print the output.
df1

In [ ]:
import numpy as np

#creates a column 
# it applies where:
## the row has a duplicate
## AND
## the row is null

df1['to_drop'] = np.where(
    (df1['Student'].isin(df1[df1[['Student','Subject']].duplicated()]['Student'].tolist())
     ) & (df1['Checked'].isnull()),1,0)

df1.loc[df1["to_drop"]==0].drop('to_drop',axis=1)

In [ ]:
# is the group containing more than one row?
m1 = df1.duplicated(['Student', 'Subject'], keep=False)
# is the row a NaN in "Checked"?
m2 = df1['Checked'].isna()
# both conditions True
m = m1&m2

# keep if either condition is False 
df1[~m]

# to get dropped duplicates
# keep if both are True
#df1[m]

In [ ]:
df1.groupby("Student", sort=False).apply(lambda x : x if len(x) == 1 else x.dropna(subset=['Checked'])).reset_index(drop=True)

In [ ]:
s_idx = ~(df1[(df1.duplicated(subset=['Student','Subject'],keep=False))])['Checked'].isna()

idx = [x for x in df1.index.values if x not in s_idx[~s_idx].index]

df1.iloc[idx]

In [ ]:
attempt1 = df1.sort_values(['Student', 'Checked'], ascending=False).drop_duplicates(["Student", "Subject"]).sort_index()

In [ ]:
#Lose Bob, when I want to keep him. Also not sure how this actually works. 
attempt1

In [ ]:
#Attempt 2

In [ ]:
#Create Duplicate column
df1["Duplicates"] = df1.duplicated(subset=["Student", "Subject"], keep=False)

#Create list of rows with no duplicates
df_new1 = df1[df1["Duplicates"]==False]

#Create list of rows with duplicates & remove all those with null values
df_new2 = df1[df1["Duplicates"]==True]
df_new3 = df_new2[~df_new2["Checked"].isnull()]

#Combine unique rows, and duplicates without null values
#Keep duplicates without null values
df_new = df_new1.append(df_new3)

#Tidy up
df_new = df_new[["Student", "Subject", "Checked"]].sort_values(by="Student")

df_new

In [ ]:
#Create separate list of duplicates with valid "Checked" values
df_new["Duplicates"] = df_new.duplicated(subset="Student", keep=False)
conflicting_duplicates = df_new[df_new["Duplicates"]==True]
conflicting_duplicates