In [ ]:
import pandas as pd

data_input = {'Area':['North', 'North', 'North',  'South', 'South', 'South',  'West', 'West', 'West',   'East', "East","East"], 
              "Sub-Area": ["North2", "North1", "North2",   "South2", "South1", "South2","West3", "West9", "West9", "East1", "East4", "East1"], 
              "Workers": [1,20,30, 2,33,5, 3,6,44, 1, 11, 111], 
              "Job1":["T", "T", "T",  "X","T", "T",  "T", "X", "T", "X","T", "T"],
              "Job2":["F", "X", "T",  "X","T", "F",  "T", "X", "F", "X","T", "T"],
              "Job3":["T", "F", "T",  "X","X", "F",  "F", "T","X",  "X","T", "T"]}
 
# Create DataFrame
df1 = pd.DataFrame(data_input)
 
# Print the output.
df1

In [ ]:
# import pandas as pd

# data_input = {'Area':['North', 'North', 'North',  'South', 'South', 'South',  'West', 'West', 'West',   'East', "East","East"], 
#               "Sub-Area": ["North1", "North2", "North2",   "South1", "South2", "South2","West3", "West9", "West9", "East4", "East11", "East11"], 
#               "Workers": [20,1,30,  33,2,5, 3,6,44,  11, 1, 111], 
#               "Job1":["T", "T", "T",  "X","T", "T",  "T", "X", "T", "X","T", "T"],
#               "Job2":["F", "X", "T",  "X","T", "F",  "T", "X", "F", "X","T", "T"],
#               "Job3":["T", "F", "T",  "X","X", "F",  "F", "T","X",  "X","T", "T"]}
 
# # Create DataFrame
# df1 = pd.DataFrame(data_input)
 
# # Print the output.
# df1

In [ ]:
df1.sort_values(by = ['Sub-Area', 'Workers'], ascending = [True, True], na_position = 'first')

In [ ]:
data_input2 = {'Student':     ['A',   "A",     'B',       'C',      'D',      'E',      'F',    'G',     "H"], 
              "Subject": ["Law",   "Law",   "Maths",    "Maths", "Law",    "Maths",  "Music", "Music", "Art"], 
              "Checked":  ["James",  "Bob",  "Jack",     "Laura", "Laura",  np.nan,   "Tim",   "Tim",   "Tim"]}
 
# Create DataFrame
df2 = pd.DataFrame(data_input2)
 
# Print the output.
#df2

In [ ]:
import pandas as pd
import numpy as np

data_input = {'Student':     ['A', 'A',          'B', 'B',            'C',      'D',      'E',      'F', 'F',         'G',     "H",     "H"], 
              "Subject": ["Law", "Law",      "Maths", "Maths",    "Maths", "Law",    "Maths",  "Music", "Music", "Music", "Art", "Art"], 
              "Checked":  ["Bob", "James",    np.nan,  np.nan,     "Laura", "Laura",  np.nan,    np.nan, "Tim",   "Tim",   "Tim", np.nan]}
 
# Create DataFrame
df1 = pd.DataFrame(data_input)
 
# Print the output.
df1

In [ ]:
import numpy as np

#creates a column 
# it applies where:
## the row has a duplicate
## AND
## the row is null

df1['to_drop'] = np.where(
    (df1['Student'].isin(df1[df1[['Student','Subject']].duplicated()]['Student'].tolist())
     ) & (df1['Checked'].isnull()),1,0)

df1.loc[df1["to_drop"]==0].drop('to_drop',axis=1)

In [ ]:
# is the group containing more than one row?
m1 = df1.duplicated(['Student', 'Subject'], keep=False)
# is the row a NaN in "Checked"?
m2 = df1['Checked'].isna()
# both conditions True
m = m1&m2

# keep if either condition is False 
df1[~m]

# to get dropped duplicates
# keep if both are True
#df1[m]

In [ ]:
df1.groupby("Student", sort=False).apply(lambda x : x if len(x) == 1 else x.dropna(subset=['Checked'])).reset_index(drop=True)

In [ ]:
s_idx = ~(df1[(df1.duplicated(subset=['Student','Subject'],keep=False))])['Checked'].isna()

idx = [x for x in df1.index.values if x not in s_idx[~s_idx].index]

df1.iloc[idx]

In [ ]:
attempt1 = df1.sort_values(['Student', 'Checked'], ascending=False).drop_duplicates(["Student", "Subject"]).sort_index()

In [ ]:
#Lose Bob, when I want to keep him. Also not sure how this actually works. 
attempt1

In [ ]:
#Attempt 2

In [ ]:
#Create Duplicate column
df1["Duplicates"] = df1.duplicated(subset=["Student", "Subject"], keep=False)

#Create list of rows with no duplicates
df_new1 = df1[df1["Duplicates"]==False]

#Create list of rows with duplicates & remove all those with null values
df_new2 = df1[df1["Duplicates"]==True]
df_new3 = df_new2[~df_new2["Checked"].isnull()]

#Combine unique rows, and duplicates without null values
#Keep duplicates without null values
df_new = df_new1.append(df_new3)

#Tidy up
df_new = df_new[["Student", "Subject", "Checked"]].sort_values(by="Student")

df_new

In [ ]:
#Create separate list of duplicates with valid "Checked" values
df_new["Duplicates"] = df_new.duplicated(subset="Student", keep=False)
conflicting_duplicates = df_new[df_new["Duplicates"]==True]
conflicting_duplicates