In [ ]:
import pandas as pd

data_input = {'Area':['North', 'North', 'South', 'South', 'West', 'West', 'East', "East"], 
              "Sub-Area": ["North1", "North2", "South1", "South3", "West3", "West9", "East1", "East4"], 
              "Job1":["T", "T", "T", "X","T", "T", "T", "X"],
              "Job2":["F", "X", "T", "X","T", "F", "T", "X"],
              "Job3":["T", "F", "T", "X","X", "F", "F", "T"]}
 
# Create DataFrame
df1 = pd.DataFrame(data_input)
 
# Print the output.
df1

In [ ]:
df1.drop_duplicates(subset = "Area", keep = "first")

In [ ]:
import pandas as pd

data_input = {'Area':['North', 'North', 'South', 'South', 'West', 'West', 'East', "East"], 
              "Sub-Area": ["North1", "North2", "South1", "South3", "West3", "West9", "East1", "East4"], 
              "Job1":["T", "T", "T", "X","T", "T", "T", "X"],
              "Job2":["F", "X", "T", "X","T", "F", "T", "X"],
              "Job3":["T", "F", "T", "X","X", "F", "F", "T"]}
 
# Create DataFrame
df1 = pd.DataFrame(data_input)
 
# Print the output.
df1

In [ ]:
cols = ['Job1', 'Job2', 'Job3']
df2 = []

for col in cols:
    df = pd.crosstab(df1['Area'], df1[col])
    df.columns = pd.MultiIndex.from_product([[col], df.columns.tolist()])
    df2.append(df)
out = pd.concat(dfs, axis=1)

In [ ]:
if ("Job1", "M") not in dfx.columns.tolist():
    dfx["Job1", "M"] = [0,0,0,0]
else:
    if ("Job1", "T") not in dfx.columns.tolist():
        dfx["Job1", "T"] = [0,0,0,0]
    else:
        if ("Job1", "X") not in dfx.columns.tolist():
            dfx["Job1", "X"] = [0,0,0,0]
        else:
            print("complete set")
dfx = dfx.sort_index(axis=1)

In [ ]:
dfx

In [ ]:
index_left = pd.MultiIndex.from_tuples([('K0', 'X0'), ('K0', 'X1'),
                                        ('K1', 'X2')],
                                        names=['key', 'X'])

left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']}, index=index_left)

index_right = pd.MultiIndex.from_tuples([('K0', 'Y0'), ('K1', 'Y1'),
                                        ('K2', 'Y2'), ('K2', 'Y3')],
                                        names=['key', 'Y'])

right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']}, index=index_right)

In [ ]:
left.join(right)

In [ ]:
# I want to remove some surrounding text from strings in a dataframe

#Reprex

df1 = pd.DataFrame({'a1': [1, 1, 2, 2, 3],
                    'b': ["NOSE PARKER Bond 1 Spain", "Fire PA1KER Bond 10 UK", "NOSE 2HANDS Bond 3 FRANCE", "EARS STARKER Bond 11 SOUTH AFRICA", "NORSEPACKER Bond 01 JAPAN2002"],
                    'c': [13, 9, 12, 5, 5]})

df1

In [ ]:
df2 = df1["b"].str.replace("[^Bond.\d]", "")
df2

In [ ]:
df2